force-app/main/default/flows/Fire_Case_Update_Event_for_New_Case_Comment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>alert</name>
        <label>alert</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>zqu__Quote__c.Alert_to_Sales_Ops</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Fire_Case_Update_Event</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Fire Case Update Event for New Case Comment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fire Case Update Event for New Case Comment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Fire_Case_Update_Event</name>
        <label>Fire Case Update Event</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Field__c</field>
            <value>
                <stringValue>E2CP Comment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdatedBy__c</field>
            <value>
                <elementReference>$Record.CreatedBy.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Update_Notification__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>alert</targetReference>
        </connector>
        <object>CaseComment</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
